parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\Click\:\:\$clicks\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Analytics/AnalyticsController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Click\>::map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Http/Controllers/Analytics/AnalyticsController.php

		-
			message: '#^Parameter \#1 \$forceForever of static method Tymon\\JWTAuth\\JWT\:\:invalidate\(\) expects bool, Tymon\\JWTAuth\\Token\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Parameter \#1 \$forceForever of static method Tymon\\JWTAuth\\JWT\:\:refresh\(\) expects bool, Tymon\\JWTAuth\\Token\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Access to an undefined property App\\Models\\Click\:\:\$utm\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Links/LinkController.php

		-
			message: '#^Relation ''utm'' is not found in App\\Models\\Click model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/Links/LinkController.php

		-
			message: '#^Access to an undefined property App\\Models\\Click\:\:\$clicks\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/Links/PublicLinkController.php

		-
			message: '#^Access to an undefined property App\\Models\\Click\:\:\$hour\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Links/PublicLinkController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Links/RedirectController.php

		-
			message: '#^Return type \(void\) of method App\\Http\\Middleware\\ApiAuthenticate\:\:unauthenticated\(\) should be compatible with return type \(never\) of method Illuminate\\Auth\\Middleware\\Authenticate\:\:unauthenticated\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Http/Middleware/ApiAuthenticate.php

		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Middleware/EnsureEmailIsVerified.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Middleware/MetricsCollector.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: app/Http/Middleware/MetricsCollector.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$expires_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$original_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$starts_in\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$utm_campaign\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$utm_content\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$utm_medium\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$utm_source\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LinkResource\:\:\$utm_term\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\LinkResource\:\:clicks\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\LinkResource\:\:getShortedUrl\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Resources/LinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$clicks\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$expires_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$original_url\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PublicLinkResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\PublicLinkResource\:\:getShortedUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/PublicLinkResource.php

		-
			message: '#^Return type \(void\) of method App\\Models\\User\:\:markEmailAsVerified\(\) should be compatible with return type \(bool\) of method Illuminate\\Foundation\\Auth\\User\:\:markEmailAsVerified\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Constant App\\Services\\Analytics\\MetricsService\:\:CACHE_KEYS is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: app/Services/Analytics/MetricsService.php

		-
			message: '#^Using nullsafe property access "\?\-\>clicks" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Analytics/MetricsService.php
